/* 
    Document   : auth
    Created on : Apr 30, 2013, 9:27:17 PM
    Author     : TrungHieu
    Description:
        Purpose of the stylesheet follows.
*/


.page#login .shaded {
    padding-top: 2em;
    padding-bottom: 2em;
}

