/* 
    Document   : auth
    Created on : Apr 30, 2013, 9:27:17 PM
    Author     : TrungHieu
    Description:
        Purpose of the stylesheet follows.
*/


.page#login .shaded {
    padding: 2em 0;
}

