/* 
    Document   : common
    Created on : May 1, 2013, 3:31:54 PM
    Author     : TrungHieu
    Description:
        Purpose of the stylesheet follows.
*/

p:first-letter, 
label:first-letter,
button:first-letter,
.btn:first-letter {
    text-transform: uppercase;
}


#topbar .logo img {
    max-height: 55px;
}


#topbar .gravatar {
    border: 2px solid #fff;
    border-radius: 4px;
    vertical-align: middle;
}