/* 
    Document   : organization
    Created on : Jun 5, 2013, 3:08:24 PM
    Author     : TrungHieu
    Description:
        Purpose of the stylesheet follows.
*/

.org_vacancies .vacancy{
    border-bottom: 1px dashed #f0f0f0;
}

.org_vacancies .vacancy .member {
    border: 1px solid #f0f0f0;
    padding: 5px;
    display: inline-block;
    width: 30%;
    margin-right: 2.5%;
}

.org_vacancies .vacancy .member p {
    margin: 0;
}

.org_vacancies .vacancy .member .vacancy-name {
    color: #a0a0a0;
}

.org_vacancies .vacancy .member > div {
    margin-left: 70px;
}

.org_vacancies .vacancy .member > div > .avatar {
    margin-left: -70px;
}

.org_vacancies .vacancy .member > div > .avatar img {
    border-radius: 100px;
}

.sidebar {
    margin-top: 1em;
}

