/* 
    Document   : user
    Created on : May 3, 2013, 8:01:23 PM
    Author     : TrungHieu
    Description:
        Purpose of the stylesheet follows.
*/

#basic_info .textarea {
    height:8em;
}

